html,
body {
	height: 100%;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#viewport {
	width: 800px;
	height: 256px;
	position: relative;
	overflow-x: auto;
	background-image: url("../images/water0.png");
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
	width: 64px;
	height: 32px;
	background-image: url("../images/port.png");
}

#ship {
	width: 128px;
  	height: 64px;
	background-image: url(../images/ship.png);
	position: absolute;
}

#sailbutton {
	border: 0;
  background-color: fuchsia;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
	font-family: 'Pacifico', cursive;
}

#sailbutton:hover {
  background-color: purple;
  border-bottom-width: 0;
  padding-top: 14px;
}

#message {
	background-color: white;
	color: navy;
	border: 2px;
	font-family: inherit;
	padding: 10px 20px;
	position: absolute;
	bottom: 100px;
	width: 800px;

	font-family: 'Bangers', cursive;
}
